* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #e0e0e0;
    color: #333;
}
        
/* Header */
header {
    background-color: rgb(2, 6, 67);
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 25px #000;
    position: relative;
}
        
.logo {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
}
        
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
        
nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
        
header>a {
    padding: 10px 20px;
    border-radius: 7px;
    background: linear-gradient(120deg, green, rgb(41, 240, 41));
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
        
/* Hero Secti0n */
.hero {
    background: url(../IMG/LEONE-STARS-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 40px 20px; */
    text-align: center;
    height: 300px;
}

.hero-wrapper {
    height: 100%;
    background: url();
    backdrop-filter: blur(10px);
    background-color: #0000002b;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
        
.hero h1 {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
}

/* Main Content */
.main-content {
    padding: 45px 50px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    background: rgb(192, 192, 192);
    border-radius: 15px;
    box-shadow: 0 0 7px #6b6b6b;
}

/* Team Form */
.team-form, .results {
    border-radius: 10px;
    background-color: #e5e5e5;
    padding: 20px 30px;
    margin-bottom: 50px;
    box-shadow: 0 0 7px #999;
}

.team-form>h2, .results>h2 {
    font-size: 20px;
    margin-bottom: 20px;
    /* margin-right: 20px; */
}

.match-wrapper {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.match-wrapper #win h2 {
    font-size: 15px;
    background-color: rgb(0, 255, 0);
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.match-wrapper #loss h2 {
    font-size: 15px;
    background-color: red;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.match-wrapper #draw h2 {
    font-size: 15px;
    background-color: grey;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Results */
.results {

}


.card {
    display: flex;
    background-color: #fff;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #999;
    
}

.home, .away {
    display: flex;
    gap: 14px;
    align-items: center;
    margin: 0 20px;
    width: 300px;
    /* background-color: red; */
}

.home {
    justify-content: right;
}

.score {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}

/* Fixtures */
.fixtures {
    border-radius: 10px;
    background-color: #e5e5e5;
    padding: 20px 30px;
    margin-bottom: 50px;
    box-shadow: 0 0 7px #999;
    height: 300px;
}

.fixtures>h2 {
    font-size: 20px;
    margin-bottom: 70px;
}

.content-wrapper p {
    font-size: 25px;
    color: rgb(163, 162, 162);
    text-align: center;
}