* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(163, 179, 165);
}

/* Header */
header {
    width: 100%;
    padding: 35px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;  
    /* box-shadow: 1px 1px 15px #00000071; */
}

nav {
    
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

header>a {
    padding: 10px 20px;
    border-radius: 7px;
    background: linear-gradient(120deg, green, rgb(41, 240, 41));
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

/* Hero Section */
.hero {
    width: 100%;
    height: 750px;
    background: radial-gradient(#0000009f, #000000d0),url(../IMG/LEONE-STARS-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
}

.hero-wrapper {
    /* background: radial-gradient(#0000009f, #000000d0),url(../IMG/LEONE-STARS-2.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 630px;
    padding: 90px 300px;
    color: #fff;
    position: absolute;
}

.hero-wrapper h1 {
    font-size: 60px;
    letter-spacing: 20px;
}

.hero-wrapper h2 {
    color: rgb(39, 226, 39);
    font-size: 35px;
    font-weight: 450;
    margin-bottom: 20px;
}

.hero-button {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.hero-button a {
    background-color: transparent;
    border: 2px solid rgb(41, 240, 41);
    box-shadow: 0 0 20px rgb(41, 240, 41);
    padding: 10px 20px;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    transition: .2s ease-in-out;
}

.hero-button a:hover {
    background-color: rgb(39, 226, 39);

}

/* Hero Banner */
.banner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner {
    width: 80%;
    height: 170px;
    background-color: rgb(26, 30, 91);
    position: relative;
    top: 570px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 20px #000;
}

.banner h2 {
    color: #fff;
    font-size: 50px;
    letter-spacing: 10px;
}

/* News Section */
.news {
    margin-top: 100px;
    width: 100%;
    /* background-color: tomato; */
}

.b-container {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.breaking {
    width: 50%;
}

.div-wrapper {
    display: flex;
    justify-content: center;
}

.breaking .div-wrapper div {
    width: 75px;
    color: #000;
    border-bottom: 2px solid rgb(41, 240, 41);
    padding-bottom: 5px;
    text-transform: uppercase;
}

.breaking h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.breaking p {
    text-align: center;
    margin-bottom: 50px;
}

.news-img {
    display: flex;
    justify-self: center;
}

.news-img img {
    border-radius: 20px;
    width: 850px;
}

/* latest News */
.latest {

}

.latest h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.latest .cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 400px;
    height: 400px;
    background-color: rgb(143, 158, 145);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgb(56, 62, 57);
}

.card .img-div img {
    border-radius: 10px;
    margin-bottom: 15px;
}

.card a {
    text-decoration: none;
    color: #000;
    text-align: center;
}

/* Highlights */
.highlights {
    margin-top: 150px;
    width: 100%;
    background: linear-gradient(110deg, rgb(14, 16, 50), rgb(14, 16, 50), rgb(31, 38, 127));
}

.h-wrapper {
    padding: 80px 230px;
}

.h-wrapper>h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: rgb(41, 240, 41);
}

.h-card {
    width: 100%;
    background-color: green;
    margin: 50px;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 35px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.h-card img {
    border-radius: 20px;
}

.h-card .txt-div {
    width: 500px;
}

.h-card .txt-div h2 {
    margin-bottom: 30px;
    font-size: 35px;
    color: rgb(18, 21, 64);
}

.h-card .txt-div p {
    color: #fff;
    font-size: 18px;
}

#h-button {
    display: flex;
    justify-content: right;
}

#h-button a {
    background-color: transparent;
    border: 2px solid rgb(41, 240, 41);
    box-shadow: 0 0 20px rgb(41, 240, 41);
    padding: 10px 20px;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    transition: .2s ease-in-out;
}

#h-button a:hover {
    background-color: rgb(39, 226, 39);
}

.partners {
    background: radial-gradient(#0000009f, #000000d0),url(../IMG/partners_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 460px;
    padding: 50px;
}

.partners h2 {
    margin-bottom: 50px;
    font-size: 35px;
    color: rgb(39, 226, 39);
    text-align: center;
}

.logo-div {
    display: flex;
    justify-content: space-evenly;
}

.logo-div img {
    width: 200px;
    height: 150px;
}

/* Footer */
