* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* background-color: rgb(163, 179, 165); */
}

/* Header */
header {
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 30, 91);
    box-shadow: 1px 1px 15px;
}

nav {
    
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

header>a {
    padding: 10px 20px;
    border-radius: 7px;
    background-color: rgb(41, 240, 41);
    text-decoration: none;
}

/* Hero Section */
.hero {
    width: 100%;
    height: 750px;
}

.hero-wrapper {
    text-align: center;
    width: 100%;
    height: 600px;
    background-color: rgb(163, 179, 165);
    padding: 60px 300px;
}

.hero-wrapper h1 {
    font-size: 60px;
    letter-spacing: 20px;
}

.hero-wrapper h2 {
    font-size: 35px;
    font-weight: 450;
    margin-bottom: 20px;
}

/* Hero Banner */
.banner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner {
    width: 90%;
    height: 150px;
    background-color: antiquewhite;
}